<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{appTitle}}</title>

        <script>
            window['sap-ushell-config'] = {
                defaultRenderer: 'fiori2',
                applications: {
                    'security-employee-app': {
                        title: 'Security Employee Types',
                        description: 'Manage the Security Employee Types.',
                        additionalInformation: 'SAPUI5.Component=de.tammenit.seccalc.ui.securityemployeetypes.securityemployeetypes',
                        applicationType: 'URL',
                        url: './securityemployeetypes/webapp',
                        navigationMode: 'embedded'
                    },
                    'dayshifts-app': {
                        title: 'Day Shifts',
                        description: 'manage the day shifts customizing table',
                        additionalInformation: 'SAPUI5.Component=de.tammenit.seccalc.ui.dayshifts.dayshifts',
                        applicationType: 'URL',
                        url: './dayshifts/webapp',
                        navigationMode: 'embedded'
                    },
                    'calcsheet-app': {
                        title: 'Calculation results',
                        description: 'calculate the results for your calculation sheets (freestyle)',
                        additionalInformation: 'SAPUI5.Component=de.tammenit.sec.ui.calcsheet',
                        applicationType: 'URL',
                        url: './calcsheet/webapp',
                        navigationMode: 'embedded'
                    },
                    'calcsheet_fe-app': {
                        title: 'Calculation sheet',
                        description: 'Main Calcsheet application',
                        additionalInformation: 'SAPUI5.Component=de.tammenit.sec.ui.calcsheet.calcsheetfe',
                        applicationType: 'URL',
                        url: './calcsheet_fe/webapp',
                        navigationMode: 'embedded'
                    }
                }
            };
        </script>

        <script src="https://ui5.sap.com/test-resources/sap/ushell/bootstrap/sandbox.js"></script>
        <script
            src="https://ui5.sap.com/resources/sap-ui-core.js"
            data-sap-ui-libs="sap.m, sap.ushell, sap.fe.templates"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-frameOptions="allow"
            data-sap-ui-bindingSyntax="complex"
        ></script>
        <script>
            sap.ui.getCore().attachInit(function() {
                sap.ushell.Container.createRenderer().placeAt('content');
            });
        </script>
    </head>
    <body class="sapUiBody" id="content"></body>
</html>
